.gallery-img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;

  opacity: 0.6;
  transition: all 0.4s ease;
}

.gallery-img:hover {
  opacity: 1;
  transform: scale(1.05);
  border: 2px solid white;
}
